<section class="characters-section" id="characters">
  <div class="characters-content-wrap container">
    <div class="characters-swiper swiper">
      <ul class="characters-swiper-wrapper swiper-wrapper">
        <li class="characters-swiper-slide swiper-slide">
          <img src="./img/character-avatar-1.png" alt="" class="character-avater" />
          <div class="character-wrap">
            <h3 class="character-title">Aru the Ember Monk</h3>
            <p class="cherecter-text">Agile, curious, and impulsive. Aru can jump gaps and light torches.</p>
            <p class="cherecter-text">Personality: “What happens if I touch this? Oops.”</p>
            <p class="cherecter-text">Specialty: Quick movement, light-based puzzles.</p>
          </div>
        </li>
        <li class="characters-swiper-slide swiper-slide">
          <img src="./img/character-avatar-2.png" alt="" class="character-avater" />
          <div class="character-wrap">
            <h3 class="character-title">Kai the Flamekeeper</h3>
            <p class="cherecter-text">Strategic, calm, and methodical. Kai can rotate mirrors and activate complex mechanisms.</p>
            <p class="cherecter-text">Personality: “Let’s think this through.”</p>
            <p class="cherecter-text">Specialty: Fire logic, mirror puzzles, flame control.</p>
          </div>
        </li>
      </ul>
    </div>
    <div class="characters-bottom-wrap">
      <img class="characters-flame" src="./img/flame.png" alt="flame">
      <p class="characters-bottom-text">
        Enjoy light banter between the characters throughout the game.
      </p>
    </div>
  </div>
</section>
