<section class="community-section">
  <div class="community-content container">
    <h2 class="community-title">Join the Community & Show Off Your Temple Skills</h2>
    <div class="community-text-block">
      <p class="community-text">Snap a moment and tag us to be featured!</p>
      <p class="community-text">Leaderboards, speedrun challenges, and fan art contests coming soon.</p>
    </div>

    <h3 class="community-list-title">Hashtags to Use:</h3>
    <ul class="community-list">
      <li class="community-list-item">
        <p class="community-list-text">#GoldenFlameGame</p>
      </li>
      <li class="community-list-item">
        <p class="community-list-text">#PuzzleTogether</p>
      </li>
      <li class="community-list-item">
        <p class="community-list-text">#FlameLogic</p>
      </li>
      <li class="community-list-item">
        <p class="community-list-text">#FireFriendsForever</p>
      </li>
      <li class="community-list-item">
        <p class="community-list-text">#TempleTandem</p>
      </li>
    </ul>

    <div class="community-logos">
      <img src="./img/tiktok-logo.png" class="community-logo">
      <img src="./img/youtube-logo.png" class="community-logo yt">
      <img src="./img/insta-logo.png" class="community-logo">
      <img src="./img/twit-logo.png" class="community-logo">
      <img src="./img/fb-logo.png" class="community-logo">
    </div>
  </div>
</section>
