<section class="contact-section" id="contact">
  <div class="contact-content-wrap container">
    <div class="contact-wrapper">
      <h2 class="contact-title">We’d love to hear from you!</h2>
      <h3 class="contact-subtitle">
        Have a brilliant puzzle idea? <br> Found a bug? <br>Just want to say hi?
      </h3>
      <ul class="contact-list">
        <li class="contact-list-item">
          <p class="contact-list-text">
            <span class="contact-span">Email:</span> info@goldenflame.pro
          </p>
        </li>
        <li class="contact-list-item">
          <p class="contact-list-text">
            <span class="contact-span">Socials:</span> DM us on any platform!
          </p>
        </li>
        <li class="contact-list-item">
          <p class="contact-list-text">
            <span class="contact-span">Community Server:</span> Join our Discord
            for flame fans and puzzle solvers.
          </p>
        </li>
      </ul>
    </div>
  </div>
</section>
