<section class="hero-section" id="hero">
  <div class="hero-content-wrap container">
    <div class="hero-content">
      <h1 class="hero-title">
        Enter the Flame Temple. Solve the Mystery. Together.
      </h1>
      <p class="hero-text">
        A fiery co-op puzzle adventure forged in ancient magic. Play solo or with
        a friend and uncover the secrets of the Golden Flame.
      </p>
      <a href="#"><img class="hero-btn" src="./img/hero-btn.png" alt=""></a>
    </div>
  </div>
</section>
