<section class="how-to-play-section" id="how-to-play">
  <div class="how-to-play-content-wrap container">
    <h2 class="how-to-play-title">Quick Start — Light the Flame in 3 Steps</h2>
    <ul class="htp-list">
      <li class="htp-list-item">
        <img src="./img/flame-1.png" alt="" class="htp-flame" />
        <p class="htp-text">
          Choose Game Mode: Invite a friend or enter solo mode.
        </p>
      </li>
      <li class="htp-list-item">
        <img src="./img/flame-2.png" alt="" class="htp-flame" />
        <p class="htp-text">
          Enter the Temple: Work your way through puzzles that require logic and
          coordination.
        </p>
      </li>
      <li class="htp-list-item htp-list-item-3">
        <img src="./img/flame-3.png" alt="" class="htp-flame" />
        <p class="htp-text">
          Ignite the Golden Flame: Discover lore, hidden collectibles, and
          secret endings.
        </p>
      </li>
    </ul>
    <h3 class="htp-subtitle">Extra Details:</h3>
    <ul class="htp-details-list">
      <li class="htp-details-item">
        <p class="htp-details-text">Auto-save progress</p>
      </li>
      <li class="htp-details-item">
        <p class="htp-details-text">Estimated playtime: 2–3 hours per run</p>
      </li>
      <li class="htp-details-item">
        <p class="htp-details-text">Great for casual sessions or speed runs</p>
      </li>
      <li class="htp-details-item ">
        <p class="htp-details-text">Completely free-to-play</p>
      </li>
    </ul>
  </div>
</section>
