.header-section {
  position: fixed;
  z-index: 1000;
  left: 0;
  right: 0;
}

.header-content-wrap {
  background: #fff;
  height: 60px;
  position: relative;
  @include media(desktop) {
    display: flex;
    padding-left: 70px;
    padding-right: 70px;
    justify-content: space-between;
    align-items: center;
  }
}

.header-logo {
  display: none;
  @include media(desktop) {
    display: block;
    font-style: italic;
    font-weight: 900;
    font-size: 28px;
    line-height: 1.50015;
    text-transform: uppercase;
    text-align: center;
    color: #180000;
  }
}

.close-btn {
  display: none;
  position: absolute;
  right: 16px;
  top: 16px;
}

.burger-btn {
  position: absolute;
  right: 16px;
  top: 16px;
  @include media(desktop) {
    display: none;
  }
}

.burger-img,
.close-img {
  width: 28px;
  height: 28px;
}

.header-hidden-list {
  display: none;
  @include media(desktop) {
    display: flex;
    gap: 36px;
  }
}

.hidden-list-item {
  padding: 8px 12px;
  align-self: flex-start;
}

.hidden-link {
  font-weight: 400;
font-size: 15px;
color: #030016;
}

.backdrop {
  position: fixed;
  top: 60px;
  left: 0;
  right: 0;
  width: 100%;
  max-width: 375px;
  height: 100%;
  margin: 0 auto;
  z-index: 1001;
  background: #180000;
  opacity: 0;
  visibility: hidden;
}

.backdrop.show {
  opacity: 1;
  visibility: visible;
  display: flex;
  justify-content: center;
}

.backdrop-list {
  display: flex;
  flex-direction: column;
  gap: 28px;
  margin-top: 84px;
}

.backdrop-list-item {
  padding: 8px 12px;
  align-self: flex-start;
}

.backdrop-list-item.active {
  border: 1px solid #c62b00;
  border-radius: 12px;
}

.hidden-list-item.active {
  border: 1px solid #c62b00;
  border-radius: 12px;
}

.backdrop-link {
  font-weight: 400;
  font-size: 15px;
  color: #fff;
}
