.how-to-play-content-wrap {
  background: #180000;
  padding-top: 60px;
  padding-bottom: 60px;
  @include media(desktop) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 50px;
    padding-bottom: 95px;
  }
}

.how-to-play-title {
  font-size: 28px;
  text-transform: uppercase;
  color: #fff;
  @include media(desktop) {
    font-size: 32px;
  }
}

.htp-list {
  margin-top: 32px;
  display: flex;
  flex-direction: column;
  gap: 22px;
  @include media(desktop) {
    justify-content: center;
    align-items: center;
  }
}

.htp-list-item {
  display: flex;
  align-items: center;
}

.htp-list-item-3 {
  @include media(desktop) {
    margin-left: 70px;
  }
}

.htp-flame {
  width: 108px;
  height: 80px;
}

.htp-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  color: #fff;
}

.htp-subtitle {
  margin-top: 28px;
  font-weight: 700;
  font-size: 20px;
  text-align: center;
  color: #fff;
  @include media(desktop) {
    margin-top: 50px;
  }
}

.htp-details-list {
  margin-top: 22px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 12px;
  @include media(desktop) {
    flex-direction: row;
    gap: 22px;
  }
}

.htp-details-item {
  border: 2px solid #ffea00;
  border-radius: 22px;
  padding: 22px 12px;
}



.htp-details-text {
  font-weight: 700;
  font-size: 18px;
  text-align: center;
  color: #fff;
}
