.img-content-wrap {
  background: linear-gradient(360deg, #180000 0%, #7e0101 100%);
  padding-top: 60px;
  padding-bottom: 60px;
}

.img-content-wrap {
  display: flex;
  flex-direction: column;
  gap: 22px;
  @include media(desktop) {
    flex-direction: row;
    justify-content: center;
  }
}

.phone-img {
  @include media(desktop) {
    width: 647px;
    height: 330px;
  }
}
