@import './header.scss';
@import './hero.scss';
@import './about.scss';
@import './how-to-play.scss';
@import './gallery.scss';
@import './characters.scss';
@import './faq.scss';
@import './contact.scss';
@import './footer.scss';
@import './cookies-modal.scss';
@import './cookies.scss';
@import './privacy.scss';
@import './terms.scss';


body {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
}

h1,
h2 {
  font-weight: 900;
}

h3 {
  font-weight: 700;
}

p,
span,
li,
a {
  font-weight: 400;
}
